.acme-navbar-text{
  color: white;
}

.logo{
    font-size: 1.2em;
    font-weight:600;
}

#DashboardControllerPicture {
    border-radius: 50%;
    border: 4px solid lighten(#3f51b5, 6%);
}

md-toolbar {
    min-height: 84px;
    .md-button{
        i{
            line-height: 2;
        }
    }
}
